body {
    font-family: "Segoe UI", sans-serif;
}

.card {
    border-radius: 12px;
}

.ticket {
    border-left: 8px solid #dc3545;
    transition: transform 0.2s ease-in-out;
}

.ticket:hover {
    transform: scale(1.01);
}

.ticket-alta {
    border-left: 8px solid #b30000;
    background-color: #ffe5e5;
}

.ticket-media {
    border-left: 8px solid #ff6666;
    background-color: #fff0f0;
}

.ticket-baja {
    border-left: 8px solid #ff9999;
}

.btn-delete {
    font-size: 0.8rem;
}
