.ticket {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.prioridad-alta {
    border-left: 5px solid red;
    background-color: #ffe2e2;
}

.prioridad-normal {
    border-left: 5px solid blue;
}

.prioridad-baja {
    border-left: 5px solid green;
}
